!!!
html
	head
		title= "LOCALNET"		
		
		script(src='/scripts/jquery-2.0.3.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/localNets.js')
		link(rel='stylesheet', href='/stylesheets/aeffect.css') 
	body
		h1 LocalNets
		.controls
				
			input#addLocalNet(type='button', value='addLocalNet', style='display:inline-block; width: 140px; padding:5px; margin:5px;  background-color:#ff0')
			input#addMessage(type='button', value='addMessage', style='display:inline-block; width: 140px; padding:5px; margin:5px; background-color:#50f')
			input#addProt(type='button', value='addProt', style='display:inline-block; width: 140px; padding:5px; margin:5px; background-color:#0ff')
			input#removeProt(type='button', value='removeProt', style='display:inline-block; width: 140px; padding:5px; margin:5px; background-color:#f5f')
			input#disconnect(type='button', value='disconnect', style='display:inline-block; width: 140px; padding:5px; margin:5px; background-color:#5f5')
			input#clear(type='button', value='clear', style='display:inline-block; width: 140px; padding:5px; margin:5px; background-color:#f00')
	
		.viewer(style='display:inline-block')	
			h4 LocalNets
			#localNets(style='width: 200px; height: 350px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll; display:inline-block')		
		.viewer(style='display:inline-block')	
			h4 LocalNet info
			#info(style='width: 200px; height: 350px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll; display:inline-block')		
		.viewer(style='display:inline-block')	
			h4 LocalNet messages
			#messages(style='width: 250px; height: 350px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll; display:inline-block')		
		.viewer(style='display:inline-block')	
			h4 All messages
			#allMessages(style='width: 250px; height: 350px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll; display:inline-block')		
		
		.viewer	
			h4 callbacks
			#callbacks(style='width: 900px; height: 200px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll; display:inline-block')		
		
