!!!
html
	head
		title= "chatstrovandalista"
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
	body
		h1 chatstrovandalista
		#content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll; display:inline-block')		
		#db(style='width: 300px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll; display:inline-block;')		
		.controls
			div.info(style='width:350px; display:block;')
				label nombre do usuario
				input#nickname
			div.info(style='width:350px; display:block;')
				label menssage
				input#field
				
			input#send(type='button', value='send', style='display:inline-block; padding:20px; margin:20px 0;  background-color:#0f0')
			input#clear(type='button', value='clear', style='display:inline-block; padding:20px; margin:20px 0; background-color:#f00')
			input#tree(type='button', value='tree', style='display:inline-block; padding:20px; margin:20px 0; background-color:#0f0')